<!-- NEW -->


<section id="about">
        <div class="container">
            <div class="container">
                        <div class="col-lg-12 text-center">
                    <h2>New Movies</h2>
            </div>

            <div class="col-sm-3">

            <div class="tilt pic"> <a href="thesocialnetwork.html" title=""><img src="http://i.imgur.com/eKXN4ys.png" width="261" height="390" ""=""></a>

            </div>
            <!--The Social Network -->

            <div class="tilt pic"> <a href="http://www.nirviral.com/hercules" title=""><img src="http://i.imgur.com/b7Qpp37.png" width="261" height="390" ""=""></a>

                <!--hercules-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/anarchy" title=""><img src="http://i.imgur.com/MAhRveT.png" width="261" height="390"></a>

                <!-- anarchy -->
            </div>
           
      
            <div class="tilt pic"> <a href="http://www.nirviral.com/jumpstreet22" title=""><img src="http://i.imgur.com/1f8ViP9.png" width="261" height="390" ""=""></a>

                <!--22 jump street-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/daysoffuturepast" title=""><img src="http://i.imgur.com/pVYeeB5.png" width="261" height="390" ""=""></a>

                <!--lets be cops-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/die" title=""><img src="http://i.imgur.com/yxqaVYX.png" width="261" height="390" ""=""></a>

                <!--million ways to die-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/theamazingspiderman2" title=""><img src="http://i.imgur.com/yjkJH5g.png" width="261" height="390"></a>

                <!--spiderman2-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/waltermitty" title=""><img src="http://i.imgur.com/KhaRckw.png" width="261" height="390" ""=""></a>

                <!--Walter mitty-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/her" title=""><img src="http://i.imgur.com/JhXXlfE.png" width="261" height="390" ""=""></a>

                <!--Her-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/thewolverine" title=""><img src="http://i.imgur.com/IvbNohn.png" width="261" height="390" ""=""></a>

                <!--Wolverine-->
            </div>


        </div>
        <div class="col-sm-3">
            <div class="tilt pic"> <a href="watch-guardians-of-the-galaxy.html" title=""><img src="http://i.imgur.com/ZykJXwx.png" width="261" height="390" ""=""></a>

                <!--Guardians of the galaxy bitch-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/expendables3" title=""><img src="http://i.imgur.com/E5G29SG.png" width="261" height="390"></a>

                <!--expendables-->
            </div>


            <div class="tilt pic"> <a href="http://www.nirviral.com/anarchy" title=""><img src="http://i.imgur.com/AtjYkAI.png" width="261" height="390"></a>

                <!-- dawn of planet apes -->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/sextape" title=""><img src="http://i.imgur.com/Kqho05v.jpg" width="261" height="390" ""=""></a>

                <!--sex tape-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/tfios" title=""><img src="http://i.imgur.com/IpNH8R2.png" width="261" height="390"></a>

                <!--tfios-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/gravity" title=""><img src="http://i.imgur.com/dcAedC8.png" width="261" height="390"></a>

                <!--transformer-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/theotherwoman" title=""><img src="http://i.imgur.com/zGqAlLQ.png" width="261" height="390" ""=""></a>

                <!--the other women-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/yearsaslave" title=""><img src="http://i.imgur.com/59Lkc76.png" width="261" height="390" ""=""></a>

                <!--12 years-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/americanhustle" title=""><img src="http://i.imgur.com/XfOBoX7.png" width="261" height="390" ""=""></a>

                <!--american hustle-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/despicableme2" title=""><img src="http://i.imgur.com/sAlzfRr.png" width="261" height="390" ""=""></a>

                <!--despicable me 2-->
            </div>
            
        </div>



        <div class="col-sm-3">
            <div class="tilt pic"> <a href="watch-men-in-black-3-online.html" title=""><img src="http://i.imgur.com/VBojQfx.png" width="261" height="390" ""=""></a>

                <!--men in black 3-->
            </div>
         
            <div class="tilt pic"> <a href="http://www.nirviral.com/dev" title=""><img src="http://i.imgur.com/wMsVGt8.png" width="261" height="390" ""=""></a>

                <!--deliverusfromtheevil-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/daysoffuturepast" title=""><img src="http://i.imgur.com/9MVOIWW.png" width="261" height="390" ""=""></a>

                <!--days of future past-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/edgeoftomorrow" title=""><img src="http://i.imgur.com/byolFiA.png" width="261" height="390" ""=""></a>

                <!--Edge of tomorrow-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/godzilla" title="Godzilla"><img src="http://i.imgur.com/omt2FHf.png" width="261" height="390"></a>

                <!--godzilla-->
            </div>
            
           <div class="tilt pic"> <a href="http://www.nirviral.com/captainamerica2" title=""><img src="http://i.imgur.com/NqlrMqn.png" width="261" height="390"></a>

                <!--captain america 2-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/nonstop" title=""><img src="http://i.imgur.com/dUkOtzu.png" width="261" height="390" ""=""></a>

                <!--non stop-->
            </div>


            <div class="tilt pic"> <a href="http://www.nirviral.com/robocop" title=""><img src="http://i.imgur.com/l4ivyBF.png" width="261" height="390" ""=""></a>

                <!--robocop-->
            </div>
 
            <div class="tilt pic"> <a href="http://www.nirviral.com/pacificrim" title=""><img src="http://i.imgur.com/ActNSVg.png" width="261" height="390" ""=""></a>

                <!--Oblivion-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/ironman3" title=""><img src="http://i.imgur.com/ezir9MK.png" width="261" height="390" ""=""></a>

                <!-- iron man-->
            </div>


        </div>

        <!-- /col-3 -->
        <div class="col-sm-3">

             <div class="tilt pic"> <a href="http://www.nirviral.com/dragon2" title=""><img src="http://i.imgur.com/v8NH9BC.png" width="261" height="390" ""=""></a>

                <!--how to train your dragon 2-->
            </div>
         
            <div class="tilt pic"> <a href="http://www.nirviral.com/worldwarz" title=""><img src="http://i.imgur.com/9GEKEy4.jpg" width="261" height="390" ""=""></a>

                <!--Lucy-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/divergent" title=""><img src="http://i.imgur.com/wmUFibA.png" width="261" height="390"></a>

                <!--divergent-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/snow" title=""><img src="http://i.imgur.com/R8cf2l4.png" width="261" height="390" ""=""></a>

                <!--snowpiercer -->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/neighbors" title=""><img src="http://i.imgur.com/q1O6JNP.png" width="261" height="390"></a>

                <!--neighbors-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/legomovie" title=""><img src="http://i.imgur.com/kWVQrdf.png" width="261" height="390"></a>

                <!--lego movie-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/monsteruni" title=""><img src="http://i.imgur.com/7HE88FX.png" width="261" height="390" ""=""></a>

                <!--monster university-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/noah" title=""><img src="http://i.imgur.com/iNthnZV.png" width="261" height="390" ""=""></a>

                <!--Noah-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/wolf" title=""><img src="http://i.imgur.com/KhYEOMQ.png" width="261" height="390" ""=""></a>

            </div>
            <!--Wolf-->

            <div class="tilt pic"> <a href="http://www.nirviral.com/con" title=""><img src="http://i.imgur.com/t42uB9z.png" width="261" height="390" ""=""></a>

                <!-- conjuring -->
            </div>
            
        </div>
        
    </section>

    <style type="text/css">
    img {
        box-shadow: 0px -1px 114px 20px rgba(0, 0, 0, 1);
        padding: 1px;
        vertical-align: super;
    }

</style>