

 <!-- MOVIES FOR BAE -->



    <section id="contact">
        <div class="container">
                        <div class="col-lg-12 text-center">
                    <h2>Movies for Bae</h2>
                
            </div>

            <div class="col-sm-3">

            <div class="tilt pic"> <a href="thesocialnetwork.html" title=""><img src="http://i.imgur.com/jLVYgas.jpg" width="261" height="390" ""=""></a>
            </div>
            <!--The Social Network -->

            <div class="tilt pic"> <a href="http://www.nirviral.com/noah" title=""><img src="http://i.imgur.com/iNthnZV.png" width="261" height="390" ""=""></a>

                <!--Noah-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/monsteruni" title=""><img src="http://i.imgur.com/xzzPOth.png" width="261" height="390" ""=""></a>

                <!--BANKS-->
            </div>
           
            
           
            <div class="tilt pic"> <a href="http://www.nirviral.com/cloudy2" title=""><img src="http://i.imgur.com/JxFOXtV.png" width="261" height="390" ""=""></a>

                <!--cloudy chance of meatballs-->
            </div>

            <div class="tilt pic"> <a href="http://www.nirviral.com/catchingfire" title=""><img src="http://i.imgur.com/4NG7MJJ.png" width="261" height="390"></a>

                <!--wreck it-->
            </div>
           
           <div class="tilt pic"> <a href="http://www.nirviral.com/catchingfire" title=""><img src="http://i.imgur.com/8I7y63P.png" width="261" height="390"></a>

                <!--up-->
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tilt pic"> <a href="http://www.nirviral.com/maleficent" title=""><img src="http://i.imgur.com/41Qtndb.png" width="261" height="390" ""=""></a>

                <!--maleficent-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/monsteruni" title=""><img src="http://i.imgur.com/7HE88FX.png" width="261" height="390" ""=""></a>

                <!--monster university-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/theinternship" title=""><img src="http://i.imgur.com/orOUWQH.png" width="261" height="390"></a>

                <!--toy story-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/catchingfire" title=""><img src="http://i.imgur.com/BRIoG7y.png" width="261" height="390"></a>

                <!--tangled-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/tfios" title=""><img src="http://i.imgur.com/IpNH8R2.png" width="261" height="390"></a>

                <!--tfios-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/jumpstreet22" title=""><img src="http://i.imgur.com/1f8ViP9.png" width="261" height="390" ""=""></a>

                <!--22 jump street-->
            </div>


           
        </div>



        <div class="col-sm-3">
            <div class="tilt pic"> <a href="http://www.nirviral.com/dragon2" title=""><img src="http://i.imgur.com/v8NH9BC.png" width="261" height="390" ""=""></a>

                <!--how to train your dragon 2-->
            </div>
         
            <div class="tilt pic"> <a href="http://www.nirviral.com/monsteruni" title=""><img src="http://i.imgur.com/Lo7nLFD.png" width="261" height="390" ""=""></a>

                <!--Frozen-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/lonesurvivor" title=""><img src="http://i.imgur.com/xdCC8wA.png" width="261" height="390"></a>

                <!--brave-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/theinternship" title=""><img src="http://i.imgur.com/MDcQgUh.png" width="261" height="390"></a>

                <!--turbo-->
            </div>     

            <div class="tilt pic"> <a href="http://www.nirviral.com/thatawkwardmoment" title=""><img src="http://i.imgur.com/DaXjtDZ.png" width="261" height="390"></a>

                <!--croods-->
            </div>
       

            <div class="tilt pic"> <a href="http://www.nirviral.com/thatawkwardmoment" title=""><img src="http://i.imgur.com/KzqDnhs.png" width="261" height="390"></a>

                <!--that awkward moment-->
            </div>

            
          


        </div>
        <!-- /col-3 -->
        <div class="col-sm-3">
            <div class="tilt pic"> <a href="http://www.nirviral.com/legomovie" title=""><img src="http://i.imgur.com/kWVQrdf.png" width="261" height="390"></a>

                <!--lego movie-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/neighbors" title=""><img src="http://i.imgur.com/q1O6JNP.png" width="261" height="390"></a>

                <!--neighbors-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/despicableme2" title=""><img src="http://i.imgur.com/sAlzfRr.png" width="261" height="390" ""=""></a>

                <!--despicable me 2-->
            </div>
                        <div class="tilt pic"> <a href="http://www.nirviral.com/theinternship" title=""><img src="http://i.imgur.com/TOwLLDU.png" width="261" height="390"></a>

                <!--lorax-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/theinternship" title=""><img src="http://i.imgur.com/YE6Aq18.png" width="261" height="390"></a>

                <!--rat-->
            </div>
            <div class="tilt pic"> <a href="http://www.nirviral.com/theinternship" title=""><img src="http://i.imgur.com/Inoz94Z.png" width="261" height="390"></a>

                <!--the internship-->
            </div>
            


        </div>
    </section>

    <style type="text/css">
    img {
        box-shadow: 0px -1px 114px 20px rgba(0, 0, 0, 1);
        padding: 1px;
        vertical-align: super;
    }
 
</style>