  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Site crafted with ♥ by Nick S.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
         
                        <li><a href="https://twitter.com/Nick72099"><i class="fa fa-twitter"></i></a>

                        <li><a href="https://github.com/NickSarath"><i class="fa fa-github"></i></a>

                        <li><a href="mailto:nick.sarath.developer@gmail.com"><i class="fa fa-envelope"></i></i></a>
                
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a class="hush" href="https://soundcloud.com/royalmakesmusic/round-two-feat-desktop"></a>
                        <li><a href="learnmore.html">Squad</a></li>
                        <li><a class="hush" href="https://soundcloud.com/royalmakesmusic/round-two-feat-desktop">♥</a>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>